<% content_for :title, 'Roulette Efficiency by Level and Role' %>
<h1><%= yield(:title) %></h1>

<b-container fluid id='pivot-table'>
  <pivot-table
    :data='<%= @table_data.to_json %>'
    :fields="{
      availableFields: [],
      rowFields: [
        { label: 'Level', getter: item => item.level }
      ],
      colFields: [
        { label: 'Role', getter: item => item.role },
        { label: 'Roulette', getter: item => item.roulette }
      ],
      fieldsOrder: {},
    }"
    :reducer="(accumulator, item, index, array) => {
      var sum = item.xp / (item.queue_time + item.instance_time)) / array.length;
      return accumulator + sum
    }"
  >
</div>
