<% javascript_pack_tag 'instance_entries/new' %>
<% stylesheet_pack_tag 'instance_entries/new' %>
<% content_for :title, 'Dungeon Tracker Form' %>

<div id='instance-entries-new-view'>
  <instance-entries-new-view
    :jobs="<%= @jobs.to_json %>"
    :roulettes="<%= @roulettes.to_json %>"
    :instances="<%= @instances.to_json %>"
  />
</div>

<!-- https://www.classandobjects.com/tutorial/using_vue_js_with_rails/ -->
<!-- https://codeburst.io/form-validation-in-rails-with-vue-js-1910ec3c80c9 -->
