<%= content_tag :div,
  id: 'hello',
  data: { jobs: @jobs, instances: @instances } do %>
<% end %>

<div class="container">
  <div class="row">
    <%= content_tag :form,
      id: 'dungeon-form',
      style: 'width: 100%;',
      data: { jobs: @jobs, instances: @instances } do %>
      <div class="form-row">
        <h3>Pre-Instance<h3>
      </div>

      <div class="form-row">
        <label for="start-time">Start Time</label>
        <input id="start-time" name='start-time' type="datetime-local" class="form-control" />
      </div>
      <div class="form-row">
        <label for="roulette-name">Roulette Name</label>
        <input id="roulette-name" name='roulette-name' type="text" class="form-control" />
      </div>
      <div class="form-row">
        <label for="job-name">Job Name</label>
        <b-form-select name='job-name' :options="jobs" />
      </div>
      <div class="form-row">
        <div class="col-6">
          <label for="start-level">Starting Level</label>
          <input id="start-level" name='start-level' type="number" class="form-control" />
        </div>
        <div class="col-6">
          <label for="start-xp">Starting XP</label>
          <input id="start-xp" name='start-xp' type="number" class="form-control">
        </div>
      </div>
      <div class="form-row">
        <label for="queue-time">Queue Pop Time</label>
        <input id="queue-time" name='queue-time' type="datetime-local" class="form-control" />
      </div>

      <div class="form-row">
        <h3>Instance</h3>
      </div>

      <div class='accordion' role=tablist>
        <b-card no-body class='mb-1' v-for="type in instances" :key="type.name">
          <b-card-header header-tag='header' class='p-1' role='tab'>
            <b-button block @click="() => $root.$emit('bv::toggle::collapse', type.name)" variant='info'>{{type.name}}</b-button>
          </b-card-header>
          <b-collapse :id='type.name' accordion='instances-accordion' role='tabpanel'>
            <b-card-body>
              <b-form-radio-group name='instance-selection' :options='type.instances' stacked size='sm' />
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>

      <div class="form-row">
        <h3>Post-Instance</h3>
      </div>
      <div class="form-row">
        <label for="finish-time">Finish Time</label>
        <input id="finish-time" name='finish-time' type="datetime-local" class="form-control" />
      </div>
      <div class="form-row">
        <div class="col-6">
          <label for="finish-level">Finish Level</label>
          <input id="finish-level" name='finish-level' type="number" class="form-control" />
        </div>
        <div class="col-6">
          <label for="finish-xp">Finish XP</label>
          <input id="finish-xp" name='finish-xp' type="number" class="form-control">
        </div>
      </div>
      <div class="form-row">
        <label for="xp-bonus">XP Bonus %</label>
        <input id="xp-bonus" name='xp-bonus' type="number" class="form-control" />
      </div>
      <div class="form-row">
        <label for="roulette-bonus">Roulette Bonus XP</label>
        <input id="roulette-bonus" name='roulette-bonus' type="number" class="form-control" />
      </div>
      <div class="form-row">
        <label for="new-player-bonus">New Player Bonus XP</label>
        <input id="new-player-bonus" name='new-player-bonus' type="number" class="form-control" />
      </div>
      <div class="form-row">
        <label for="role-in-need-bonus">Role in Need Bonus XP</label>
        <input id="role-in-need-bonus" name='role-in-need-bonus' type="number" class="form-control" />
      </div>
      <div class="form-row">
        <label for="other-bonus">Other Bonus XP</label>
        <input id="other-bonus" name='other-bonus' type="number" class="form-control" />
      </div>
      <div class="form-row">
        <label for="commends">Commends Received</label>
        <input id="commends" name='commends' type="number" class="form-control" />
      </div>
      <div class="form-row">
        <div role="group" tabindex="-1" class="bv-no-focus-ring">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" name='queue-outlier' class="custom-control-input" value="Are you queueing with someone?" id="option-0">
            <label class="custom-control-label" for="option-0">
              <span>Are you queueing with someone?</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" name='duration-outlier' class="custom-control-input" value="Did you join an in-prog?" id="option-1">
            <label class="custom-control-label" for="option-1">
              <span>Did you join an in-prog?</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" name='xp-outlier' class="custom-control-input" value="Did you hit level cap (or were at cap before starting)?" id="option-2">
            <label class="custom-control-label" for="option-2">
              <span>Did you hit level cap (or were at cap before starting)?</span>
            </label>
          </div>
        </div>
      </div>
      
      <div class="form-row">
        <label for="notes">Notes</label>
        <input id="notes" name='notes' class="form-control" />
      </div>

      <b-button type=submit>Submit</b-button>
    <% end %>
  </div>
</div>
