<% content_for :title, 'Dungeon Tracker Form' %>

<div id='instance-entries-new-view'>
  <instance-entries-new-view
    :jobs="<%= @jobs.to_json %>"
    :roulettes="<%= @roulettes.to_json %>"
    :instances="<%= @instances.to_json %>"
  />
</div>
