<% content_for :title, 'Daily Roulette Optimizer' %>
<h1><%= yield(:title) %></h1>

<div id='roulette-calculator-new-view'>
  <roulette-calculator-new-view :roulettes="<%= @roulettes.to_json %>" />
</div>