<!DOCTYPE html>
<html>
<head>
  <title>FFXIV Dungeon Tracker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_javascript_tag 'website' %>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
  <div id='app' />
</body>

<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script style="position: absolute; bottom: 50px; right: 10px;">
  kofiWidgetOverlay.draw('blakexiaolong', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Send a tip!',
    'floating-chat.donateButton.background-color': '#794bc4',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>
</html>
